<section class="admin-section">
    <div class="leaderboard-table">
        <h2>LEADERBOARD</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TEAM NAME</th>
                    <th scope="col">CLASS NAME</th>
                    <th scope="col">LEVEL</th>
                    <th scope="col">TIME TAKEN (mins)</th>
                </tr>
            </thead>
            <tbody>
                {{#each leaderboard}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.teamName}}</td>
                    <td>{{this.class}}</td>
                    <td>{{this.lastCompletedClue}}</td>
                    <td>{{this.timeTaken}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>