<section class="admin-section">
    <h1 class="landingHeader">User Responses</h1>
    <div class="accordion" id="accordionExample">
        {{#each responses}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{@index}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                    User: {{this.userName}}
                </button>
            </h2>
            <div id="collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="heading{{@index}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        {{#each this.responses}}
                        <li>
                            <strong>
                                {{#if this.clueNumber}}
                                Clue {{this.clueNumber}}
                                {{else}}
                                Task: {{this.taskName}}
                                {{/if}}:
                            </strong>
                            <div class="alert {{#if this.isCorrect}}alert-success{{else}}alert-danger{{/if}}"
                                role="alert">
                                RESPONSE: {{this.answer}} <br>
                                <small>COMPLETED TIME: {{this.formattedTime}} seconds</small>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>