<section>
    <h2>COMPLETE USER DATA</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TEAM NAME</th>
                <th scope="col">COLLEGE NAME</th>
                <th scope="col">PHONE NUMBER</th>
                <th scope="col">EMAIL</th>
                <th scope="col">LEVEL</th>
                <th scope="col">TIME TAKEN</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.Name}}</td>
                <td>{{this.collegeName}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.lastCompletedClue}}</td>
                <td>{{this.formattedTime}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    </div>
</section>