<section class="paper-grid-box-big">
    <h2 id="clueTitle" class="clueHeader">Clue {{clue.clueNumber}}</h2>
    <p id="clueText" class="clueText ">{{clue.clue}}</p>

    <input type="hidden" id="clueId" name="clueId" value="{{clue._id}}">
    <input type="hidden" id="clueNumber" name="clueNumber" value="{{clue.clueNumber}}">

    <!-- Form for submitting the answer -->
    <form action="/clue/{{clue._id}}" method="POST" class="clueForm">
        <input type="text" id="answerInput" name="answer" class="form-control formAnswerBox" placeholder="Enter your answer" required>
        <button type="submit" class="btn btn-primary submitButton">Submit</button>
    </form>
    <p id="feedback" style="color: red;"></p>
</section>